body,
html {
  min-height: 100vh;
}
.purple {
  background-color: #320388;
  color: white;
}

.dark {
  background-color: #111023;
  color: white;
}

.pink {
  background-color: #c22177;
  color: white;
}

#layoutOne {
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 100vh;
}

#headerOne {
  background-color: #111023;
  display: flex;
  flex-grow: 1;
}

#middleSectionOne {
  display: flex;
  flex-direction: row;
  flex-grow: 5;
}

#articleOneWhite {
  flex-grow: 7;
}

#articleOnePurple {
  background-color: #320388;
  flex-grow: 2;
}

#navOne {
  background-color: #c22177;
  flex-grow: 2;
}

#footerOne {
  background-color: #111023;
  display: flex;
  flex-grow: 1;
  color: white;
}

/* layout 2 */

#layoutTwo {
  display: flex;
  flex-direction: row;
  color: white;
  min-height: 100vh;
}

#navTwo {
  flex-grow: 1;
}

#mainSectionTwo {
  display: flex;
  flex-direction: column;
  flex-grow: 8;
  min-height: 100vh;
  color: black;
}

#headerTwo {
  flex-grow: 1;
}

#articleSectionTwo {
  flex-grow: 3;
  display: flex;
  flex-direction: row;
}
#articleSectionTwo #articleOne {
  flex-grow: 5;
}
#articleSectionTwo #articleTwo {
  flex-grow: 1;
}

#footerTwo {
  flex-grow: 1;
}

/* layout 3 */
#layoutThree {
  display: flex;
  flex-direction: row;
  color: white;
  min-height: 100vh;
}

#navThree {
  flex-grow: 1;
}

#mainSectionThree {
  display: flex;
  flex-direction: column;
  flex-grow: 8;
  min-height: 100vh;
  color: black;
}

#headerThree {
  flex-grow: 1;
}

#articleSectionThree {
  flex-grow: 5;
  display: flex;
  flex-direction: row;
}
#stackedThree {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  justify-content: space-between;
}
#stackedThree #articleOne {
  flex-grow: 5;
}

#stackedThree #footer {
}

#articleSectionThree #articleTwo {
  flex-grow: 1;
}

#footerThree {
  flex-grow: 1;
}

/* layout 4 */

#layoutFour {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}

#headerFour {
  height: 15vh;
}

#mainContentFour {
  height: 85vh;
  flex-grow: 8;
  display: flex;
  flex-direction: row;
}

#mainContentFour #navFour {
  flex-grow: 1;
}
#mainContentFour #articleFourWhite {
  flex-grow: 7;
}
#mainContentFour #articleFourPurple {
  flex-grow: 1;
}

#footerFour {
  height: 15vh;
}
